@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Lato:700i');
@import url('https://fonts.googleapis.com/css?family=Crete+Round:400i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.auth0-lock.auth0-lock .auth0-lock-badge-bottom{
  display: none;
}

.auth0-lock.auth0-lock .auth0-lock-header{
  color: #fff !important;
}

.auth0-lock.auth0-lock .auth0-lock-header-bg{
  background: #000 !important;
}

.auth0-lock.auth0-lock .auth0-lock-widget{
  width: 450px !important;
}

.auth0-lock-header-bg-blur{
 display: none !important;
}

.lato-logo{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-right: 10px;
  font-size: 32px;
}

.header-texts{
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-style: italic;
  color: #fff;
}

.header-texts:hover{
  color: #fff;
}

.main-container {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
}

.auth0-lock-name{
  font-family: 'Audiowide', cursive;
  text-transform: capitalize;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.align-center {
  align-self: center;
}
.sliderchange{
  animation: clicked-keyframes 1s;
}
@keyframes clicked-keyframes {
  from {
    opacity: 0.01
  }
  to {opacity: 1}
}

.wallpaper{
  background-image: url("./static/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.open-sans{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.grommetux-meter__graphic{
  width: 240px !important;
}
