@import url('https://fonts.googleapis.com/css?family=Audiowide');

.auth0-lock.auth0-lock .auth0-lock-badge-bottom{
  display: none;
}

.auth0-lock.auth0-lock .auth0-lock-header{
  color: #fff !important;
}

.auth0-lock.auth0-lock .auth0-lock-header-bg{
  background: #000 !important;
}

.auth0-lock.auth0-lock .auth0-lock-widget{
  width: 450px !important;
}

.auth0-lock-header-bg-blur{
 display: none !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.auth0-lock-name{
  font-family: 'Audiowide', cursive;
  text-transform: capitalize;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.align-center {
  align-self: center;
}
